# Ignorar cachés de Python
*.pyc
__pycache__/*

# Ignorar migraciones compiladas
*/migrations/__pycache__/
./srcs/postgres/*
./srcs/.env
/srcs/.env

**/__pycache__/

./.env

# Ignorar archivos temporales
*.*.swp

