<div>
    <form id="play-ai-form" class="form-column">
        <label for="difficulty-level">
            {{ difficulty }}
        </label>
        <div id="difficulty-options">
            <button type="button" class="difficulty-btn" data-value="0.5" >{{ very_easy }}</button>
            <button type="button" class="difficulty-btn" data-value="1" >{{ easy }}</button>
            <button type="button" class="difficulty-btn" data-value="3" >{{ medium }}</button>
            <button type="button" class="difficulty-btn" data-value="5" >{{ hard }}</button>
        </div>
        <input type="hidden" id="difficulty-level" name="difficulty-level" required>
        <button id="start-game-btn" replace-url data-route="/play-ai-game">
            {{ start_game }}
        </button>
    </form>
</div>