<div id="game-container">
    <div class="gameStatus" style="display: flex; flex-direction: column;">
		<div id="newGameBoard" class="d-flex justify-content-center align-items-center position-relative">
    		<canvas id="newGameCanvas" class="d-block"></canvas> <!-- Game playfield -->
    		<div id="wait" class="position-absolute text-center w-100">
            </div>
        </div>
        <button class="button-trn" replace-url id="play-again" data-route="/play-local">
            <span  class="button-content-trn">{{ play_again }}</span>
        </button>
    </div>
</div>
