<div id="game-container">
    <div class="gameStatus">
        <h1>BUBBLE PONG</h1> <!-- Game title dynamically rendered from the context -->
		<div id="newGameBoard" class="d-flex justify-content-center align-items-center position-relative">
    		<canvas id="newGameCanvas" class="d-block"></canvas> <!-- Game playfield -->
    		<div id="wait" class="position-absolute text-center w-100" data-original="{{ waiting_message }}">
			</div>
		</div>
        <button id="play-again" data-route="/restart-online">{{ try_again }}</button>
    </div>
</div>
