<div id="game-container">
	<div class="gameStatus" style="display: flex; flex-direction: column;">
		<div style="display: flex;"> 
			<h2 id="id-room-remote" style="color: #ddd;"></h2>
		</div>
		<div id="newGameBoard" class="d-flex justify-content-center align-items-center position-relative">
			<canvas id="newGameCanvas" class="d-block"></canvas> <!-- Game playfield -->
			<div id="wait" class="position-absolute text-center w-100" data-original="{{ waiting_message }}"></div>
		</div>
		<button id="play-again" style="align-self: center;" data-route="/restart-online" class="button-trn">
			  <span id="span-remote" class="button-content-trn">{{ play_again }}</span>
		</button>
	</div>
</div>
