.particle {
    position: absolute;
    bottom: 0; /* Comienza desde la parte inferior */
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation-name: float-up;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

#particle-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	pointer-events: none;
	z-index: -1;
}

/* Animación: Mover hacia arriba */
@keyframes float-up {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		opacity: 1; /* Se desvanece al final */
		}
	100% {
		transform: translateY(-100vh);
		opacity: 0; /* Se desvanece al final */
	}
}