
.container-bracket {
    min-width: 50vh;  /* Increased max width for larger container */
    margin: 0 auto;
    display: block;
    flex-direction: row; 
}

#bracket {
    overflow: hidden;
    background-color: #fdfdfd;
    padding: 5%; /*MODIF */
    width: 100%;
    margin: auto;
    justify-content: center;
}

.round {
    display: block;
    float: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
    padding: 2%;
}

.matchup {
    margin:0;width: 100%;
    padding: 10px 0;
    height:120px;
} /*width columns*/

.team {
    padding: 5px;
    margin: 7px 0;
    height: 40px; 
    line-height: 30px;
    overflow: hidden;
    position: relative;
} /*about squares*/

.round-two .matchup {
    margin:0; 
    height: 100px;
    padding: 80px 0;
}
.round-three .matchup {
    margin:0; 
    padding: 210px 0;
}

.round li {
    background-color: rgba(29, 89, 240, 0.565); 
    opacity: 1;
    font-size: 20px;
    border-radius: 4px;
}
