.gameStatus h1 {
    font-size: calc(2vw + 1rem);
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
	image-rendering: pixelated; /* Prevent blurry rendering on scale */

}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    /* width: 100%; */
}

.form-column label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
    width: 100%; /* Make the label take up the full width */
    text-align: center; /* Center the label text */
}

.form-column input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.difficulty-btn {
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
}

.difficulty-btn.active {
    border-color: #9c74ba;
    background-color: #c2a8e1;
    color: white;
}

#wait {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: "none";
	white-space: normal;
}
