.gameStatus {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 100vh;
}

canvas {
	width: 100%;
	height: 100%;
}
