.navbar {
    background-color: #121416;
    border-bottom: 1px solid #444;
}
.navbar-brand {
    font-weight: bold;
    color: #f8f9fa !important;
}

.btn-large {
    background-color: #5f45bf;
    width: 100%; /* Aumentar ancho de los botones */
    margin-bottom: 1.5rem;
    padding: 1.2rem;
    font-size: 1.2rem; /* Reducir tamaño de la fuente */
    border: none;
    border-radius: 8px;
    transition: transform 0.2s, background 0.3s;
    white-space: nowrap; /* Evitar que el texto se divida en dos líneas */
}
.btn-large:hover {
    transform: scale(1.05);
    background-color: #8A76D0;
}
.footer {
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
    background-color: #121416;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-home {
    font-size: 1.2rem;
    padding: 2rem;
  }
  /* Para que el contenedor del body ocupe la mayor parte de la pantalla (restando header y footer) */
  .full-height {
    min-height: calc(100vh - 140px);
  }