.navbar {
    background-color: #121416;
}
.navbar-brand {
    font-weight: bold;
    color: #f8f9fa !important;
}

.btn-large {
    background-color: #5f45bf;
    width: 100%; /* Aumentar ancho de los botones */
    height: 300px;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
    font-size: 1.2rem; /* Reducir tamaño de la fuente */
    border: none;
    border-radius: 8px;
    transition: transform 0.2s, background 0.3s;
    white-space: nowrap; /* Evitar que el texto se divida en dos líneas */
}
.btn-large:hover {
    transform: scale(1.05);
    background-color: #8A76D0;
}

.footer {
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-home {
    font-size: 1.2rem;
    padding: 2rem;
}

.full-height {
    min-height: calc(100vh - 140px);
}


/* Card / button */
.card {
  width: 100%;
  /* min-width: 380px; */
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#0d0d0d, #212121) padding-box,
              linear-gradient(145deg, transparent 15%,#d5dcf9, #a7b0ca) border-box;
  transition: transform 0.3s ease;

  border: 3px solid rgba(138, 118, 208, 0.8);

  box-shadow: 0px 8px 20px rgba(138, 118, 208, 0.6), 
              0px 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.97;
}

#card-1,#card-2,#card-3,#card-4{
  min-width: 330px;
}

  /* Para pantallas con ancho menor a 768px, se usa altura automática */
  @media (max-width: 1400px) {
    .card {
      width: 90%;
      min-width: none;
    }
    #card-1,#card-2,#card-3,#card-4{
      min-width: none;
    } 
  }

.blob {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #5f45bf;
  opacity: 0;
  filter: blur(12px);
  transform: translate(-50%, -50%);
  animation: blob-bounce 5s infinite ease;
}

.card:hover .blob {
  opacity: 1;
}

.card-inner {
  width: 99%;
  height: 99%;
  position: relative;
  z-index: 2;
  background: linear-gradient(#0d0d0d, #212121) padding-box,
              linear-gradient(145deg, transparent 15%,#d5dcf9, #a7b0ca) border-box;
  transition: transform 0.3s ease;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0);
  margin: 4px;
}

.card-body {
  padding: 3px;
  text-align: center;
  color: white;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 30px rgba(138, 118, 208, 0.8), 
              0px 6px 15px rgba(0, 0, 0, 0.4);
}

.card p {
    text-align: center;
    /* font-size: x-large;
    margin: 1.7rem; */
    padding: 10%;
    color: #e1e1e1;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

  a.d-inline-block {
    position: relative;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  

  

.checkbox-wrapper-8 .tgl {
    display: none;
  }
  
  .checkbox-wrapper-8 .tgl,
    .checkbox-wrapper-8 .tgl:after,
    .checkbox-wrapper-8 .tgl:before,
    .checkbox-wrapper-8 .tgl *,
    .checkbox-wrapper-8 .tgl *:after,
    .checkbox-wrapper-8 .tgl *:before,
    .checkbox-wrapper-8 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  
  .checkbox-wrapper-8 .tgl::-moz-selection,
    .checkbox-wrapper-8 .tgl:after::-moz-selection,
    .checkbox-wrapper-8 .tgl:before::-moz-selection,
    .checkbox-wrapper-8 .tgl *::-moz-selection,
    .checkbox-wrapper-8 .tgl *:after::-moz-selection,
    .checkbox-wrapper-8 .tgl *:before::-moz-selection,
    .checkbox-wrapper-8 .tgl + .tgl-btn::-moz-selection,
    .checkbox-wrapper-8 .tgl::selection,
    .checkbox-wrapper-8 .tgl:after::selection,
    .checkbox-wrapper-8 .tgl:before::selection,
    .checkbox-wrapper-8 .tgl *::selection,
    .checkbox-wrapper-8 .tgl *:after::selection,
    .checkbox-wrapper-8 .tgl *:before::selection,
    .checkbox-wrapper-8 .tgl + .tgl-btn::selection {
    background: none;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 6em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn:after,
    .checkbox-wrapper-8 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn:after {
    left: 0;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn:before {
    display: none;
  }
  
  .checkbox-wrapper-8 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #888;
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after,
    .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active {
    background: #888;
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active:before {
    left: -10%;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
    background: #86d993;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:after {
    left: 0;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
  }
  