.form-container {
  max-width: 450px;
  max-height: 700px;
  background: linear-gradient(#0d0d0d, #212121) padding-box,
              linear-gradient(145deg, transparent 15%,#d5dcf9, #a7b0ca) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  padding-top: 10px;
  font-size: 14px;
  font-family: inherit;
  color: #e6e9f3;
  display:flexbox;
  flex-direction:column;
  gap: 5px;
  box-sizing: border-box;
  border-radius: 16px;
  opacity: 0.85;
  
  margin: 5px;
}


.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #5f45bf;
  box-shadow: none;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #5f45bf;
  box-shadow: none;
}

.form-submit-btn{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #f7f7f7;
  font-weight: 600;
  width: 40%;
  background: #5f45bf;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover{
  background-color: #8A76D0;
  border-color: #8A76D0;
}

.login-intra-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: inherit;
  color: #898888;
  font-weight: 600;
  width: 65%;
  background: #d5dcf9;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
  
  margin: 8px auto 0 auto;
}

.form-container .login-intra-button:hover{
  color: #707070;
  background-color: #b8c5f4;
  border-color: #b8c5f4;
}

.not-account-btn{
  background: none;
  border: none;
  color: #5f45bf;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.separator > .div1 {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  opacity: 80%;
  background: linear-gradient(290deg, transparent 15%,#d5dcf9, #a7b0ca);
}

.separator > .div2{
  width: 100%;
  height: 3px;
  border-radius: 5px;
  opacity: 80%;
  background: linear-gradient(145deg, transparent 15%,#d5dcf9, #a7b0ca);
}

.separator > span {
  color: #f0ecec;
  font-weight: 600;
}

.error-login{
  color:#f82f2f;
  opacity: 0;
  transition: opacity 1s ease;
}

.error-login.show{
  opacity: 1;
}


.sign-up-input{
  height: 40px;
}

#login-error{
  margin: 10px;
}

#signup-form{
  padding-bottom: 10px;
}