html {
	box-sizing: border-box;
}
  
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: linear-gradient(135deg, #121212, #3a3a3a, #121212);
	background-size: 200% 200%;
	animation: gradientAnimation 10s ease infinite; 
	font-family: "Be Vietnam Pro", Arial, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Evita overflow horizontal */
	overflow-y: auto;
  }

#app {
	color: #e1e1e1;
	/* display: flex;
	flex-direction: column; */
	height: 100vh;
  }
  #header-area {
	flex: 0 0 56px; /* Altura fija para la navbar */
  }
  #content-area {
	flex: 1; /* Ocupa el espacio restante */
	overflow: auto; /* Si hay contenido extra, se hace scroll en el área, no en toda la página */
  }