/* Container styles */
#profile-container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 500px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin-top: 50px;
    /* border: 3px dashed red; */
}

/* Top navigation */
#profile-container .d-flex {
    margin-bottom: 20px;
}

#profile-container h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px; /* Adds space between letters */
    text-transform: uppercase; /* Makes the text uppercase */
}

/* Photo placeholder */
.photo-placeholder {
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
    margin-bottom: 15px; /* Adds space between the photo and text */
}

/* User info */
#profile-container h3,
#profile-container p {
    margin: 0;
    font-size: 1.2em;
}

/* Statistics block */
.statistics-block {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px; /* Adds space between profile info and stats */
    margin-bottom: 20px;
    text-align: left; /* Aligns statistics content to the left */
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    /* border: 3px dashed blue; */
}

#stats-list li {
    font-size: 1.1em; /* Adjust font size */
    margin-bottom: 10px;
}

/* Logout button */
#logout-button {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background-color: #BB86FC; /* Fondo de botón: verde neón */
    border: none;
    border-radius: 5px;
    color: #121212; /* Texto oscuro en el botón */
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logout-button:hover {
    background-color: #9828ed;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: cover;
    margin-bottom: 15px;
}

.photo-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: cover;
    margin-bottom: 15px;
}

#profile-settings-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;    /* to add space between fields */
    margin-top: 5rem;
    margin-bottom: 5rem;   /* why not working.. */
}

#profile-settings-container form > div {
    display: flex;
    align-items: center;   /* Vertically align label and input */
    gap: 1rem;   /* Space between label and input */
}

#profile-settings-container label {
    flex-basis: 30%;   /* Sets a fixed width for the label */
    text-align: right;   /* Aligns the label text to the right */
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#profile-settings-container input, 
#profile-settings-container button {
    flex-grow: 1;   /* Ensures the input takes the remaining space */
    max-width: 300px;
}

#profile-settings-container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 500px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin-top: 100px;
    /* border: 3px dashed red; */
}

/* Top navigation */
/* #profile-settings-container .d-flex {
    margin-bottom: 10rem;
    border: 3px dashed red;
} */

#profile-settings-container h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px; /* Adds space between letters */
    text-transform: uppercase; /* Makes the text uppercase */
    margin-bottom: 0px;
}

#match-history-container {
    padding: 20px;
}

#match-history-container table {
    width: 100%;
    border-collapse: collapse;
}

#match-history-container th, #match-history-container td {
    border: 1px solid #ddd;
    padding: 8px;
}

#match-history-container th {
    background-color: #634b75;
    text-align: left;
}

#match-history-container button {
    /* flex-grow: 1;   Ensures the input takes the remaining space */
    max-width: 150px;
}