  .profile-card {
    /* max-width: 400px;
    max-height: 700px; */
    background: linear-gradient(#0d0d0d, #212121) padding-box,
                linear-gradient(145deg, transparent 15%,#d5dcf9, #a7b0ca) border-box;
    /* border: 2px solid transparent; */
    padding: 32px 24px;
    padding-top: 10px;
    font-size: 14px;
    font-family: inherit;
    color: #e1e1e1;
    display:flex;
    flex-direction:column;
    gap: 5px;
    box-sizing: border-box;
    border-radius: 16px;
    opacity: 0.85;
    
    margin: 5px;
  } 
  
  .profile-card .card-body {
    padding: 0;
  }
  
  .profile-card h3,
  .profile-card h4 {
    margin: 0;
    padding: 0.5rem 0;
  }
  
  /* Ajuste de la foto de perfil y placeholder */
  .profile-card img.img-fluid {
    /* max-width: 100px; */
    /* border-radius: 50%; */
    align-self: center;
  }
  .photo-placeholder {
    /* width: 100px;
    height: 100px; */
    background: #ccc;
    border-radius: 30%;
    margin: 0 auto;
  }
  

  .chart-card {
    background: linear-gradient(#0d0d0d, #212121) padding-box,
        linear-gradient(145deg, transparent 15%,#d5dcf9, #a7b0ca) border-box;
    padding: 32px 24px;
    padding-top: 10px;
    font-size: 14px;
    font-family: inherit;
    color: #e1e1e1;
    display:flex;
    flex-direction:column;
    gap: 5px;
    box-sizing: border-box;
    border-radius: 16px;
    opacity: 0.85;

    margin: 5px;
  }

  .btn-standar
  {
    --bs-btn-color: #5f45bf;
    --bs-btn-border-color: #5f45bf;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5f45bf;
    --bs-btn-hover-border-color: #5f45bf;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5f45bf;
    --bs-btn-active-border-color: #5f45bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #5f45bf;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #5f45bf;
    --bs-gradient: none;
  }
  
  @media (max-width: 576px) {
    .profile-card {
      padding: 1rem;
      font-size: 0.9rem;
    }
    .chart-card {
      padding: 1rem;
      min-height: 300px;
    }
  }
  
  .profile-card:hover, .chart-card:hover{
    transform: none;
  }

  #card-profile {
    height: 330px;
  }
  
  #chart-card {
    height: 420px;
  }

  /* Para pantallas con ancho menor a 768px, se usa altura automática */
  @media (max-width: 768px) {
    #card-profile {
      height: auto;
    }
  }
  

  
  #save-settings-button {
    width: 200px;
}

/* Ejemplo de hover para los botones */
.btn-primary:hover, .btn-secondary:hover, .btn-success:hover, .btn-danger:hover {
  opacity: 0.9;
}

/* Espaciado extra en el formulario */
#profile-settings-form .form-label {
  font-weight: 500;
}


#match-history-container {
    padding: 20px;
  }
  
  #match-history-container table {
    width: 100%;
    border-collapse: collapse;
}

#match-history-container th, #match-history-container td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #match-history-container th {
    background-color: #634b75;
    text-align: left;
  }
  
  #match-history-container button {
    /* flex-grow: 1;   Ensures the input takes the remaining space */
    max-width: 150px;
  }
  
#twoFA-container img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

.form-control {
  background-color: rgba(128, 128, 128, 0.3); /* Fondo gris transparente */
  color: #ffffff; /* Color del texto */
  border: 1px solid #414141; /* Borde por defecto */
  border-color: #0d0d0d;
  transition: border-color 0.3s, background-color 0.3s;
  /* width: 80%;
  max-width: 350px;
  margin: 0 auto; */
}

/* .form-label {
  display: block;
  width: 50%;
  max-width: 300px;
  margin: 0 auto 5px auto;
  text-align: center;
} */

.form-control::placeholder {
  color: #cccccc; /* Color para el placeholder */
}

.form-control:focus {
  border-color: #5f45bf; /* Color del borde al enfocarse */
  background-color: rgba(128, 128, 128, 0.5); /* Opcional: cambia el fondo al enfocarse */
  box-shadow: none; /* Elimina el box-shadow por defecto */
  color: #ffffff;
}

