
#game-container {
	width: 90%;
	height: 100%;
}

#gameStatus {
	width: 90%;
	height: 90%;
}

.gameStatus h1 {
    font-size: calc(2vw + 1rem);
}


#newGameBoard {
	height: 50vh;
	position: relative;
}

canvas {
	display: block;
	height: 100%;
	image-rendering: smooth;
	object-fit: contain;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    /* width: 100%; */
}

.form-column label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
    width: 100%; /* Make the label take up the full width */
    text-align: center; /* Center the label text */
}

.form-column input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#wait {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: "none";
	white-space: normal;
}

.game-rooms {
    width: 200vw;
    height: 100vh;
}

.game-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Custom grey-purple button style */
.btn-grey-purple {
    background-color: #6c5e58; /* Consistent dark grey tone */
    color: white !important;
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px 8px 8px 8px; /* Slightly more rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button hover effect */
.btn-grey-purple:hover {
    background-color: #a28f87; /* Darker grey tone for hover */
    transform: scale(1.05); /* Hover zoom effect */
}

/* Add top spacing for sections */
.mb-4 {
    margin-bottom: 1.5rem;
}

.divider {
    width: 2px;
    background-color: #6c5e58;
    height: 10vh;
    min-height: 60px;
}

/* Dark Grey Background for Dropdown */
.form-select, .form-control {
    background-color: #a28f87;
    color: white;
    border: none;
}

/* Custom Style for Form Elements on Focus */
.form-select:focus, .form-control:focus {
    background-color: #a28f87;
    border-color: none;
    outline: none;
}

