<div class="row col-12 d-flex justify-content-start align-items-center py-2 ">
  <div class="checkbox-wrapper-8 checkbox-row" style="margin-left: 65px; margin-top: 30px;">
    <input type="checkbox" id="3D-switch" class="tgl tgl-skewed" />
    <label for="3D-switch" data-tg-on="3D ON" data-tg-off="3D OFF" class="tgl-btn"></label>
  </div>
</div>

<div class="row flex-grow-1 d-flex align-items-center justify-content-center text-center">
  <!-- Tarjeta 1 -->
  <div class="col-12 col-md-6 col-lg-6 mb-3 text-center" id="card-1">
    <a href="/play-local" data-route="/play-local" class="d-block text-decoration-none" style="width: 80%;">
      <div class="card mx-auto" style="width: 100%;">
        <div class="blob"></div>
        <div class="card-inner">
          <div class="card-body">
            <p class="card-title fs-4 fs-md-3 fs-lg-2">{{play_locally}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  
  <!-- Tarjeta 2 -->
  <div class="col-12 col-md-6 col-lg-6 mb-3 text-center" id="card-2">
    <a href="/remote-home" data-route="/remote-home" class="d-block text-decoration-none" style="width: 80%;">
      <div class="card mx-auto" style="width: 100%;">
        <div class="blob"></div>
        <div class="card-inner">
          <div class="card-body">
            <p class="card-title fs-4 fs-md-3 fs-lg-2">{{play_online}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- Tarjeta 3 -->
  <div class="col-12 col-md-6 col-lg-6 mb-3 text-center" id="card-3">
    <a href="/play-ai" data-route="/play-ai"  class="d-block text-decoration-none" style="width: 80%;">
      <div class="card mx-auto" style="width: 100%;">
        <div class="blob"></div>
        <div class="card-inner">
          <div class="card-body">
            <p class="card-title fs-4 fs-md-3 fs-lg-2">{{play_against_AI}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- Tarjeta 4 -->
  <div class="col-12 col-md-6 col-lg-6 mb-3 text-center" id="card-4">
    <a href="/tournament" data-route="/tournament" class="d-block text-decoration-none" style="width: 80%;">
      <div class="card mx-auto" style="width: 100%;">
        <div class="blob"></div>
        <div class="card-inner">
          <div class="card-body">
            <p class="card-title fs-4 fs-md-3 fs-lg-2">{{tournament}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- Footer -->
  <footer class="text-center py-3 mt-auto">
    &copy; 2025 BubblePong. {{ rights_reserved }} 
  </footer>
</div>

