<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Nombre de la página a la izquierda -->
      <a class="navbar-brand" href="#">BubblePong</a>
      <!-- Botones a la derecha -->
      <div class="d-flex">
        <a href="/profile" class="btn btn-outline-light me-2">Perfil</a>
        <!-- Botón de cambio de idioma (usando tu template) -->
        <div class="position-relative">
          <button id="language-button" class="bg-grey border-0 text-white p-2 rounded" style="font-size: 16px; outline: none; background-color: black;">EN</button>
          <ul id="language-menu" class="list-unstyled bg-grey text-white p-2 rounded d-none position-absolute" style="top: 50px; right: 0; z-index: 1000;">
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="ca">CA</button>
            </li>
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="en">EN</button>
            </li>
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="es">ES</button>
            </li>
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="lv">LV</button>
            </li>
            <li>
              <button class="btn btn-link text-white text-decoration-none p-2" data-lang="ru">RU</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>