<!-- <header id="header-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BubblePong</a>
      <div class="d-flex">
        <a href="/profile" class="btn btn-outline-light me-2">Perfil</a>

        <div class="position-relative">
          <button id="language-button" class="bg-grey border-0 text-white p-2 rounded" style="font-size: 16px; background-color: black;">
            EN
          </button>
          <ul id="language-menu" class="list-unstyled bg-grey text-white p-2 rounded d-none position-absolute" style="top: 50px; right: 0; z-index: 1000;">
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="ca">CA</button>
            </li>
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="en">EN</button>
            </li>
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="es">ES</button>
            </li>
            <li class="border-bottom">
              <button class="btn btn-link text-white text-decoration-none d-block p-2" data-lang="lv">LV</button>
            </li>
            <li>
              <button class="btn btn-link text-white text-decoration-none p-2" data-lang="ru">RU</button>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header> -->

<header id="header-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BubblePong</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              idioma
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">CA</a></li>
              <li><a class="dropdown-item" href="#">ES</a></li>
              <li><a class="dropdown-item" href="#">LV</a></li>
              <li><a class="dropdown-item" href="#">RU</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"href="/profile" data-route="/profile">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>



