<header id="header-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home" data-route="/home">BubblePong</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button id="language-button" class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{lang_flag|safe}}
            </button>
            <ul class="dropdown-menu d-none" id="language-menu">
              <li>
                <button id="sebas" class="dropdown-item " data-lang="EN" style="display: flex; justify-content: center;">
                  <svg viewBox="0 0 1200 800" width="30" height="20" data-lang="EN">
                    <rect width="1200" height="800" fill="#ffffff" data-lang="EN" />
                    <rect width="200" height="800" x="400" fill="#c8102e" data-lang="EN" />
                    <rect width="1200" height="200" y="300" fill="#c8102e" data-lang="EN" />
                  </svg>
                </button>
              </li>
              <li>
                <butto class="dropdown-item" data-lang="CA" style="display: flex; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 810 540" data-lang="CA">
                    <rect width="810" height="540" fill="#FCDD09" data-lang="CA" />
                    <path stroke="#DA121A" stroke-width="60" d="M0,90H810m0,120H0m0,120H810m0,120H0"></path>
                  </svg>
                </button>
              </li>
              <li>
                <button class="dropdown-item" data-lang="ES" style="display: flex; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1000" width="30" height="20">
                    <rect width="1500" height="333.33" fill="#AA151B" data-lang="ES" />
                    <rect y="333.33" width="1500" height="333.33" fill="#F1BF00" data-lang="ES" />
                    <rect y="666.66" width="1500" height="333.33" fill="#AA151B" data-lang="ES" />
                  </svg>
                  
                </button>
              </li>
              <li>
                <button class="dropdown-item" data-lang="LV" style="display: flex; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" width="30" height="20">
                    <rect width="200" height="40" fill="#9E3039" data-lang="LV" />
                    <rect y="40" width="200" height="20" fill="#FFFFFF" data-lang="LV" />
                    <rect y="60" width="200" height="40" fill="#9E3039" data-lang="LV" />
                  </svg>
                </button>
              </li>
              <li>
                <button class="dropdown-item" data-lang="RU" style="display: flex; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 2" width="30" height="20">
                    <rect width="3" height="2" fill="#fff" data-lang="RU"/>
                    <rect width="3" height="1.333" y="0.667" fill="#0033a0" data-lang="RU"/>
                    <rect width="3" height="0.667" y="1.333" fill="#d52b1e" data-lang="RU"/>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/friends" data-route="/friends">{{friends_wo}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/profile" data-route="/profile">{{profile_wo}}</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-danger ms-1" type="button" data-route="/logout">{{logout}}</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>



