<div id="profile-container"> 
    <!-- top navigation -->
	<div class="d-flex justify-content-between align-items-center mb-4">
        <h1>{{profile}}</h1>
        <div>
            <!-- <button id="profile-home-button">Home</button> -->
            <button data-route="/profile-settings" id="profile-settings-button">{{settings}}</button>
            <button data-route="/friends" id="friends-button">{{friends_wo}}</button>
            <button data-route="/home" id="home-button">{{home}}</button>
        </div>
    </div>

    <!-- Profile content -->
    <div class="d-flex flex-column align-items-center mb-4">
        <!-- Photo and user info -->
         <!-- {% if user.profile.photo %}
            {% if is_external_photo %}
                <img src="{{ photo_url }}" alt="Profile Photo" class="profile-photo">
            {% else %}
                <img src="http://localhost:8000{{ photo_url }}" alt="Profile Photo" class="profile-photo">
            {% endif %} 
            {% endif %}-->
        {% if photo_url %}
            <img src="{{ photo_url }}" alt="Profile Photo" class="profile-photo">
        {% else %}
            <div class="photo-placeholder mb-3"></div>
        {% endif %}
        <div>
            <h3 id="username">{{username}}: {{ user.username }}</h3>
            <p id="name">{{name_wo}}: {{ user.first_name }}</p>
        </div>
    </div>

    <!-- Statistics -->
    <div class="statistics-block">
        <h4>{{statistics}}</h4>
        <ul id="stats-list" class="list-unstyled">
            <li>{{played}}: <span id="games-played">{{ stats_games.games_played }}</span></li>
            <li>{{games_won}}: <span id="games-won">{{ stats_games.games_won }}</span></li>
            <li>{{tournaments_played}}: <span id="tournaments-played">{{ stats_tournaments.tournaments_played }}</span></li>
            <li>{{tournament_average_score}}: <span id="tournaments-won">{{ stats_tournaments.tournament_score }} %</span></li>   
        </ul>
        <button data-route="/match-history" id="match-history-button">{{match_history}}</button>        
    </div>

    <!-- Last 10 Games Chart -->


	<button data-route="/logout" id="logout-button">Logout</button>
	<button id="game">{{play}}!</button>
</div>
