<div id="search-users-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Friends</h1>
        <div>
            <button id="back-to-profile-button">My profile</button>
        </div>
    </div>
    <form method="get" class="d-flex">
        <input id="search-input" class="form-control me-2" type="search" name="q" placeholder="Search by username or email" value="{{ query }}">
        <button class="btn btn-outline-success" type="submit" id="submit-search">Search</button>
    </form>
    {% if results %}
        <ul>
            {% for user in results %}
                <li>
                    {{ user.username }}
                    {% if user.email %}
                        ({{ user.email }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users found.</p>
    {% endif %}
</div>