<div class="container my-4 p-4 justify-content-center align-items-center rounded" id="profile-settings-container">
    <!-- Título principal centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="mb-4">{{settings}}</h1>
      </div>
    </div>
  
    
      <!-- Formulario de ajustes de perfil -->
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form method="POST" enctype="multipart/form-data" id="profile-settings-form">
            <div class="mb-3">
              <label for="photo" class="form-label">{{new_photo}}</label>
              <input type="file" id="photo" name="photo" class="form-control">
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">{{username}}</label>
              <input type="text" id="username" name="username" value="{{ user.username }}" class="form-control">
            </div>
            <div class="mb-3">
              <label for="first_name" class="form-label">{{first_name}}</label>
              <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" class="form-control">
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label">{{last_name}}</label>
              <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="form-control">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">{{email}}</label>
              <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control" readonly>
            </div>
            <div class="mb-3 text-center">
              <button type="submit" id="save-settings-button" class="btn btn-primary">{{save}}</button>
            </div>
          </form>
        </div>
      </div>
    
      <!-- Sección de 2FA -->
      <div class="row">
        <div class="col-12 text-center mt-3">
          {% if two_fa_enabled %}
            <a href="/two-fa-disable" data-route="/two-fa-disable" id="two-fa-button" class="btn btn-danger">
              {{disable_2FA}}
            </a>
          {% else %}
            <a href="/two-fa-setup" data-route="/two-fa-setup" id="two-fa-button" class="btn btn-success">
              {{add_2FA}}
            </a>
          {% endif %}
        </div>
      </div>
</div>