<div id="2fa-verify-container" class="container d-flex flex-column" style="	min-height: 80vh;">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="fw-bold">{{verify_two_factor_authentication}}</h1>
        </div>
    </div>

    <div class="row flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <form id="two-fa-login-form" method="post" class="p-4 bg-dark text-light rounded shadow">
                <label for="code" class="form-label d-block">{{enter_6_digit_code}}</label>
                <input type="text" id="2fa-code" name="code" required placeholder={{verification_code_placeholder}}
                    class="form-control text-center mb-3">
                <button id="verify-2fa-login-button" type="submit" class="btn form-submit-btn w-100">
                    {{verify}}
                </button>
                <button id="verify-2fa-login-button" type="submit" class="btn form-submit-btn w-100" data-route="/login" style="margin-top: 65px;">
                    {{go_back}}
                </button>
            </form>
        </div>
    </div>
</div>