<div id="twoFA-container">
    <div id="2fa-setup-container"> 
        <h1>{{setup_two_factor_authentication}}</h1>
        <p>{{scan_qr_code}}</p>
        <img id="2fa-qr-code" src="{{ qr_code }}" alt="QR Code">
    </div>
    <div id="2fa-verify-container"> 
        <h1>{{verify_two_factor_authentication}}</h1>
        <form id="two-fa-form" method="post">
            <label for="code">{{enter_6_digit_code}}:</label>
            <input type="text" id="2fa-code" name="code" required placeholder="Verification Code">
            <button id="verify-2fa-button" type="submit" >{{verify}}</button>
        </form>
    </div>
    <button data-route="/profile-settings">{{back_to_settings}}</button>
</div>