<div class="container-bracket8 tournament-bracket">
  <header class="hero">
      <div class="hero-wrap">
          <h1 id="headline">Tournament</h1>
      </div>
  </header>

  <section id="bracket">
  <div class="container">
  <div class="split split-one">
    <div class="round round-one current">
      <div class="round-details">Round 1<br/></div>
      <ul class="matchup">
        <li class="team team-top">user1</li>
        <li class="team team-bottom">user2</li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">user3</li>
        <li class="team team-bottom">user4</li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">user5</li>
        <li class="team team-bottom">user6</li>
      </ul>
      <ul class="matchup">
        <li class="team team-top">user7</li>
        <li class="team team-bottom">user8</li>
      </ul>                    
    </div>  <!-- END ROUND ONE -->

    <div class="round round-two">
      <div class="round-details">Round 2<br/></div>     
      <ul class="matchup">
        <li class="team team-top">winner1</li>
        <li class="team team-bottom">winner2</li>
      </ul> 
      <ul class="matchup">
        <li class="team team-top">winner3</li>
        <li class="team team-bottom">winner4</li>
      </ul>                   
    </div>  <!-- END ROUND TWO -->
    
    <div class="round round-three">
      <div class="round-details">Round 3<br/></div>     
      <ul class="matchup">
        <li class="team team-top">winner11</span></li>
        <li class="team team-bottom">winner12</span></li>
      </ul>                 
    </div>  <!-- END ROUND THREE -->    
  </div> 

  </section>
  <!-- https://blog.codepen.io/2018/02/16/need-make-tournament-bracket/ -->
</body>