<div class="container-bracket">

    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <button class="btn btn-grey-purple btn-large w-100" data-route="/home">{{ home }}</button>
        </div>
    </div>

    <section id="bracket" class="row justify-content-center bracket" style="position: relative;">
        <!-- First Round -->
        <!-- <div class="round round-one">
			<ul class="matchup">
				<li class="team team-top">user1</li>
				<li class="team team-bottom">user2</li>
			</ul>
			<ul class="matchup">
				<li class="team team-top">user3</li>
				<li class="team team-bottom">user4</li>
			</ul>
        </div> -->

        <!-- Second Round -->
        <!-- <div class="round round-two">
			<ul class="matchup">
				<li class="team team-top">winner1</li>
				<li class="team team-bottom">winner2</li>
			</ul> 
        </div> -->

        <!-- First Round -->
        <div class="round round-one">
            {% for pair, bool_winner in pairs_and_winners.0 %}
            <ul class="matchup">
                <li class="team team-top {% if bool_winner.0 %}winner{% endif %}">{{ pair.0 }}</li>
                <li class="team team-bottom {% if bool_winner.1 %}winner{% endif %}">{{ pair.1 }}</li>
            </ul>
            {% endfor %}
            <!-- for testing -->
            {% if total_cnt|add:0 < 3 %}
            <ul class="matchup">
                <li class="team team-top">user3</li>
                <li class="team team-bottom">user4</li>
            </ul>
            {% endif %}
        </div>

        <!-- Second Round -->
        <div class="round round-two">
            {% if cur_round == 1 %}
            <ul class="matchup">
                <li class="team team-top">winner1</li>
                <li class="team team-bottom">winner2</li>
            </ul> 
            {% else %}
            <!-- If second round has started, show winners -->
            {% for pair in pairs.1 %}
            <ul class="matchup">
                <li class="team team-top">{{ pair.0 }}</li>
                <li class="team team-bottom">{{ pair.1 }}</li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <button class="btn btn-grey-purple btn-large w-100" data-route="/quit-tournament">Quit Tournament</button>
        </div>
    </div>
</div>
