<div class="container-bracket">

    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <button class="btn btn-grey-purple btn-large w-100" data-route="/home">{{ home }}</button>
        </div>
    </div>

    <section id="bracket" class="row justify-content-center bracket" style="position: relative;">
        <!-- First Round -->
        <div class="round round-one">
			<ul class="matchup">
				<li class="team team-top">user1</li>
				<li class="team team-bottom">user2</li>
			</ul>
			<ul class="matchup">
				<li class="team team-top">user3</li>
				<li class="team team-bottom">user4</li>
			</ul>
        </div>

        <!-- Second Round -->
        <div class="round round-two">
			<ul class="matchup">
				<li class="team team-top">winner1</li>
				<li class="team team-bottom">winner2</li>
			</ul> 
        </div>
    </section>
</div>
