<div id="waiting-room-container" class="container py-4">
  <!-- Título de la Waiting Room -->
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h1 class="tournament-title">{{waiting_for_players}}</h1>
    </div>
  </div>

  <!-- Contenedor con recuadro -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card profile-card p-4 mx-auto" style="height: 350px;">
        <div class="card-body text-center" style="align-self: normal;">
          <!-- Detalles del Torneo: ID -->
          <div class="tournament-info-box mb-3">
            <h3 class="tournament-subtitle" style="margin-top: revert;">{{ tournament }} ID: {{ tournament_id }}</h3>
            <!-- <h3 class="tournament-value d-inline">{{ tournament_id }}</h3> -->
          </div>

          <!-- Detalles del Torneo: Número de Jugadores -->
          <div class="tournament-info-box mb-3">
            <h3 class="tournament-subtitle">{{ number_players }}: {{ player_count }}</h3>
            <!-- <h3 id="cur-player-cnt" class="tournament-value d-inline">{{ player_count }}</h3> -->
          </div>

          <!-- Botón para salir del torneo -->
          <button class="button-trn" replace-url data-route="/quit-tournament" style="margin-top: 10%;">
            <span class="button-content-trn">{{ quit_tournament }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  