<!-- <div id="waiting-room-container">

    <div class="text-center mb-4">
        <h1 class="tournament-title">...waiting room...</h1>
    </div>

    <div class="text-center mb-4">
        <div class="tournament-info-box p-3">
            <h3 class="tournament-subtitle d-inline">{{tournament}} ID</h3>
            <p class="tournament-value d-inline">{{ tournament_id }}</p>
        </div>
    </div>

    <div class="text-center mb-4">
        <div class="tournament-info-box p-3">
            <h3 class="tournament-subtitle d-inline">{{ number_players }}</h3>
            <p id="cur-player-cnt" class="tournament-value d-inline">{{ player_count }}</p>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <button class="btn btn-grey-purple btn-large w-100" replace-url data-route="/quit-tournament">Quit Tournament</button>
        </div>
    </div>
</div> -->

<div id="waiting-room-container" class="container py-4">
  <!-- Título de la Waiting Room -->
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h1 class="tournament-title">Waiting for players...</h1>
    </div>
  </div>

  <!-- Contenedor con recuadro -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card profile-card p-4 mx-auto">
        <div class="card-body text-center">
          <!-- Detalles del Torneo: ID -->
          <div class="tournament-info-box mb-3">
            <h3 class="tournament-subtitle d-inline">{{ tournament }} ID: </h3>
            <h3 class="tournament-value d-inline">{{ tournament_id }}</h3>
          </div>

          <!-- Detalles del Torneo: Número de Jugadores -->
          <div class="tournament-info-box mb-3">
            <h3 class="tournament-subtitle d-inline">{{ number_players }}: </h3>
            <h3 id="cur-player-cnt" class="tournament-value d-inline">{{ player_count }}</h3>
          </div>

          <!-- Botón para salir del torneo -->
          <button class="button-trn" replace-url data-route="/quit-tournament" style="margin-top: 10%;">
            <span class="button-content-trn">{{ quit_tournament }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  