Django==4.2.7
channels
channels-redis
redis
bcrypt
django-cors-headers
django-cors-middleware
psycopg2
djangorestframework
djangorestframework-simplejwt
djangorestframework-simplejwt[blacklist]
requests
oauthlib==3.2.2
requests-oauthlib==1.3.1
Pillow
black
flake8
pyotp
qrcode
daphne
